@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
}

main {
  background-color: #170A1C;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;
  
}

div {
  display: flex;
}

.container {
  width: 80vw;
  height: 80vh;
  justify-content: space-between;

  background-color: #f1efef;


  box-sizing: border-box;
}

.box-left {
  flex-direction: column;

  width: 50%;
  height: 100%;
  border-radius: 50%;

  margin-left: 100px;
  
}

.text {
  width: 100%;
  height: 30%;
  align-items: center;
  justify-content: center;
}

.box-left h2 {
  color: #343434;

  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 70px;

  margin-top: 40px;
  margin-left: 40px;
}

.linha {
  background-color: #343434;
  width: 10px;
  height: 60%;
  margin-top: 60px;
}

.box-left h3 {
  color: #343434;

  letter-spacing: 5px;
  text-transform: uppercase;

  margin-top: 80px;
  margin-left: 10px;
}

.box-left img {
  width: 60%;
  margin-left: 50px;
}


.box-right {
  width: 50%;
  height: 100%;

  flex-direction: column;
  align-items: center;

  background-color: #e8e5e5;
  border-radius: 500px 0px 0px 500px;

}

.box-right h2 {
  margin-top: 100px;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 5px;

  color: #343434;
}

.box-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-input {
  flex-direction: column;
  margin-top: 15px;
  width: 60%;
  height: 12%;

  background-color: #fff;
  border-radius: 45px;

  align-items: center;
}

.box-input input {
  height: 100%;
  width: 100%;
  
  border: none;
  border-radius: 45px;
  text-indent: 45px;


  color: #343434;
  font-size: 15px;
}

.box-input span {
  position: absolute;
  margin-right: 250px;
  margin-top: 13px;
}


.box-input input:valid,
.box-input input:focus {
  border: 3px solid #DE1A1A;
  transition: 0.5s;
}

.box-input input:valid ~ span i,
.box-input input:focus ~ span i{
  color: #DE1A1A;
  transform: translateX(-5px);
  transition: 0.5s;
}

.box-links{
  flex-direction: column;
  align-items: flex-end;
}

.box-links a {
  text-decoration: none;
  color: #343434;
  margin-left: 80px;
  margin-top: 10px;

  font-size: 14px;
  letter-spacing: 2px;
}

.box-links a:hover {
  color: #DE1A1A;
  
}

.box-form button {
  width: 60%;
  height: 10%;
  margin-top: 15px;

  border: none;
  border-radius: 45px;
  
  color: #f1efef;
  /* background-color: #34E5FF; */
  background-color: #DE1A1A;

  font-size: 20px;
  font-weight: bold;
  letter-spacing: 5px;
  cursor: pointer;
}

.box-form button:hover {
  background-color: #170A1C;
}

.box-sociais {

  width: 60%;
  height: 10%;
  margin-top: 15px;

  justify-content: space-around;
}

.box-sociais a {
  background-color: #ffffff;

  width: 30%;

  display: flex;
  align-items: center;
  justify-content: center;

}

.box-sociais a:hover{
  transform: scale(1.1);
  background-color: #c1c1c1;
  
}

.box-sociais a img {
  width: 30%;
 

}

#apple {
  width: 30%;
}

